<html>
<head>
  <%= include_gon %>
</head>
<body>
  <nav>
    <button class="btn btn-outline-success" type="button" onClick="location.href='/'">グラフ</button>
    <button class="btn btn-success" type="button" onClick="location.href='/detail'">テーブル</button>
  </nav>
  <hr>

  <%= form_for @songList do |f| %>
    <%= f.select :title, @all_titles %>
    <%= f.select :level, [["",""],[13,13],[14,14],[15,15],[16,16],[17,17]], :selected => ["",""] %>
    <%= f.select :cleared, [["",""], ["CLEAR", "true"], ["FAIL", "false"]], :selected => ["",""] %>
    <button class="btn btn-sm btn-outline-secondary" onclick="search_song();">絞り込む</button>
    <button class="btn btn-sm btn-outline-secondary" onclick="show_all();">すべて表示</button>
  <% end %>
  
  <div id="detailTable"></div>
  <script>onload_detail();</script>
</body>
