<!DOCTYPE html>
<html>
  <head>
    <title>Statsmania</title>
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>

    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin:20px">
    <%= yield %>
  </body>
</html>