<!DOCTYPE html>
<html>
  <head>
    <title>SmChart</title>
    <%= csrf_meta_tags %>

    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin:20px">
    <nav>
      <button class="btn btn-outline-success" type="button" onClick="location.href='/'">グラフ</button>
      <button class="btn btn-outline-success" type="button" onClick="location.href='/detail'">テーブル</button>
    </nav>
    <hr>

    <%= yield %>
  </body>
</html>