<!DOCTYPE html>
<html>
  <head>
    <title>SmChart</title>
    <%= csrf_meta_tags %>

    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
      <li><a href="/">グラフ表示</a></li>
      <li><a href="/detail">テーブル表示</a></li>
      </ul>
    </nav>
    <hr>

    <%= yield %>
  </body>
</html>
